#banner
	.banner_content
		%h1 Notebook
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - A rails developer

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p Lorem ipsum dolor sit amet, id melius habemus splendide vim. Habeo definitionem eum at, iriure platonem an sit. Duo ludus deserunt disputando ea, cu mei legendos recteque. Prompta postulant ut nec. Id docendi copiosae usu. Magna partem persecuti an eos, sea et reque democritum.		
			.callout
				%i.fa.fa-rocket
				%h2 Rocket
				%p Lorem ipsum dolor sit amet, id melius habemus splendide vim. Habeo definitionem eum at, iriure platonem an sit. Duo ludus deserunt disputando ea, cu mei legendos recteque. Prompta postulant ut nec. Id docendi copiosae usu. Magna partem persecuti an eos, sea et reque democritum.
			.callout
				%i.fa.fa-bolt
				%h2 Lightning
				%p Lorem ipsum dolor sit amet, id melius habemus splendide vim. Habeo definitionem eum at, iriure platonem an sit. Duo ludus deserunt disputando ea, cu mei legendos recteque. Prompta postulant ut nec. Id docendi copiosae usu. Magna partem persecuti an eos, sea et reque democritum.

#bottom_cta
	.wrapper
		%h2 Join us!
		%p Sign up here and use the app for your notes.
		%button= link_to "Click me!!!", new_user_registration_path

%footer
	%p &copy; Felipe Chiapini